body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Robot, Oxygen;
    font-weight : 300;
    margin:  0px 6px;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 300;
  }
  
  header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  main{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*   grid-template-columns: repeat(auto-fit, minmax(70px, 350px)); */
    /* column-width: 350px; */
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
  }

  .art-img {
    object-fit: cover;
    width: 100%;
    display: block;
    margin: 6px auto;
    max-height: auto;
  }


